@{
  Layout="_Layout";
}

@model Library.Models.Book

<h2>Add Author to the book: @Html.DisplayFor(model=>model.Title)</h2>

<hr />
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.BookId)

  @Html.Label("Select Author")
  @Html.DropDownList("AuthorId")

  <input type="submit" value="Save" />
}

<hr />
<p>@Html.ActionLink("Back to Books", "Index")</p>