@{
  Layout = "_Layout";
}

@model Library.Models.Book

<h2>Book Details</h2>
<hr />
<h3>Book Title: @Html.DisplayFor(model => model.Title)</h2>

<h4>The book was written by:</h4>
<ul>
  @foreach (var join in Model.Authors)
  {
      <li>@Html.ActionLink($"{@join.Author.AuthorFirstName + " " + @join.Author.AuthorMiddleInitialName + " " + @join.Author.AuthorLastName}", "Details", "Authors", new{id=join.Author.AuthorId}, null)</li>
      @using (Html.BeginForm("DeleteAuthor", "Books"))
      {
          @Html.Hidden("joinId", @join.BookAuthorId)
          @Html.HiddenFor(model=>model.BookId)

          <input type="submit" value="Delete" />
      }
  }
</ul>
<h3 class="btn btn-default btn-lg"><a href='/Books/@Model.BookId/Copies/'>View available copies</a></h3>  

@* <p>@Html.ActionLink("View available copies", "Index", "$'{Model}'/$'{id}'/Copies", new { id = Model.BookId })</p> *@

<p>@Html.ActionLink("Add Author to Book", "AddAuthor", new { id = Model.BookId})</p>
<p>@Html.ActionLink("Edit book", "Edit", new { id = Model.BookId})</p>
<p>@Html.ActionLink("Delete book", "Delete", new { id = Model.BookId})</p>
<p>@Html.ActionLink("Back to books", "Index")</p>
<p>@Html.ActionLink("Back to authors", "Index", "Authors")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>

