@{
  Layout = "_Layout";
}

@using Library.Models;
@model Library.Models.Book;

  <h1>Books</h1>

  @if (@Model.Count == 0)
  {
    <h3>There are no books</h3>       
  }

  @foreach (Book book in Model)
  {
    <li>@Html.ActionLink($"{book.Title}", "Details", new { id = book.BookId })</li>
  }

<h4>Search the bool by title</h4>

@using (Html.BeginForm("SearchByTitle", "Books"))
{
    @Html.Label("Title")
    @Html.TextBox("SearchItem")

    <input type="submit" value="Search By Title" />
}

<p>@Html.ActionLink("Add new book", "Create")</p>
<p>@Html.ActionLink("Author Directory", "Index", "Authors")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>