@{
  Layout = "_Layout";
}

@model Library.Models.Author

<h2>Are you sure you want to delete this author?</h2>
<hr />
<h5>Author Name: @Html.DisplayFor(model => model.AuthorFirstName) @Html.DisplayFor(model => model.AuthorMiddleInitialName) @Html.DisplayFor(model => model.AuthorLastName)</h5>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
}
<hr />
<p>@Html.ActionLink("Edit author", "Edit", new { id = Model.AuthorId})</p>
<p>@Html.ActionLink("Back to authors", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p> 