@{
  Layout = "_Layout";
}

@using Library.Models;
@model List<Library.Models.Author>;

  <h1>Authors</h1>

  @if (@Model.Count == 0)
  {
    <h3>There are no authors</h3>       
  }

  @foreach (Author author in Model)
  {
    <li>@Html.ActionLink($"{author.AuthorFirstName} {author.AuthorMiddleInitialName} {author.AuthorLastName}", "Details", new { id = author.AuthorId })</li>
  }

<p>@Html.ActionLink("Add new author", "Create")</p>
<p>@Html.ActionLink("Book Directory", "Index", "Books")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>