@{
  Layout = "_Layout";
}

@using Library.Models
@model Library.Models.Copy

<h2>Copies</h2>
<hr />
@if (@ViewBag.Model.Count == 0)
{
  <h3>This book has no copies</h3>
}
else
{ 
  <h3>This book has @ViewBag.Counter copy(s). @ViewBag.CopiesAvailable copy(s) are available.</h3>
  
  @foreach (Copy copy in ViewBag.Model)
  { 
    if(copy.BookId == ViewBag.BookId)
    {
      <li>@copy.Book.Title @copy.CopyOut</li>
      @using (Html.BeginForm("DeleteCopy", "Copies"))
      {
      @Html.Hidden("CopyId", @copy.CopyId)
      @Html.HiddenFor(model => copy.CopyId)

      <input type="submit" value="Delete" />
      }
    }
  }
}


